<!-- attribute directive. doesnt add or remove elements but it does change the element it was placed on -->
<p
  [ngStyle]="{ backgroundColor: getColor() }"
  [ngClass]="{ online: serverStatus === 'online' }"
>
  {{ "Server" }} with id {{ serverId }} is {{ getServerStatus() }}
</p>
<!-- string interpolation are the double braces you can 
    use vars, functions if they return strings and strings in there but it cant be multi lined 
needs a string at the end or something that can be converted to a string like a number-->
