/* Selector {
    Property: value;
} */

* {
    text-align: right;
}

body {
    background-image: url("autumn-studio-PaM7SD5wM6g-unsplash.jpg");
    background-size: cover;
}

h2, p {
    color: #AA5939;
    text-align: center;
    border: 5px solid rgb(85, 24, 0, 0.5);
    cursor: pointer;
}

h2 p {
    color: #AA5939;
    text-align: right;
    border: 5px solid rgb(85, 24, 0, 0.5);
    cursor: pointer;
}


p {
    /* text-decoration: line-through;
    text-transform: uppercase; */
    line-height: 20px;
    font-style: italic;
    font-weight: bold;
    /* font-size: 80%; */
    font-family: 'Oxanium';    /*The order matters because if a user doesnt have the font the browser will try the next one.*/
}

img {
    float: right;
}

footer {
    clear: both;
    text-align: center;
}

li {
    list-style: none;
    display: inline-block;
}

.webtext {
    border-style: dotted;
}

.active {
    color: red;
}

#div1 {
    background: rgb(85, 24, 0, 0.5);
}

#div2 {
    background: rgba(100, 100, 0, 0.5);
}

#webtext {
    color: green;
}