<div class="container ">
    <h3>Reserva Ya</h3>

    <form action="">

        <div class="form-group  ">
            <label for="fname">Nombre:</label>
            <input type="text" class="form-control" id="fname" placeholder="Primer nombre" />

            <input type="text" class="form-control" id="lname" placeholder="Apellido" />

            <label for="phone">Numero de telefono:</label>
            <input type="tel" id="phone" name="phone" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" class="form-control" required
            placeholder="(000)-000-0000" />

            <label for="email">Correo Electronico:</label>
            <input type="email" class="form-control" id="email" placeholder="juan@email.com" />

            <label for="table-area">Area de mesa:</label>
            <select id="table-area" name="table-area" class="form-control">
                <option value="balcony">Balcon</option>
                <option value="bar">Barra</option>
                <option value="middle">Medio</option>
                <option value="front">Alfrente</option>
            </select>

            <label for="date">Fecha:</label>
            <input type="date" class="form-control" id="date" />

            <label for="guests">Numero de Integrantes:</label>
            <input type="number" class="form-control" id="guests" />
            
            <label for="comments">Comentarios:</label>
            <input type="text" class="form-control" id="comments"/>

            <button type="submit" class="btn btn-secondary">Reserva ya!</button>
        </div>

    </form>
</div>
