@media only screen and (min-width: 600px) {
  h2 {
    font-size: 175%;
  }

  p {
    font-size: 125%;
  }
  .card-body{
    padding-bottom: 0px;
  }
}



.card-body{
  padding-top: 0px;
  padding-bottom: 0px;
}
