<div class="card-body border-bottom-0">
  <div class="row pt-md-5 pb-md-5">
    <div class="col-md-4"></div>
    <div class="col-md-4">

      <div class="d-none d-sm-block ">
      <h1 class="card-title">Bienvenidos!</h1>
      <p class="card-text">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi fuga
        voluptates, expedita reprehenderit soluta corrupti illum tenetur
        consequuntur, quam quibusdam ducimus vitae nulla eaque error voluptatem
        magni blanditiis recusandae iste.
      </p>
      <a href="#" class="btn btn-secondary">ORDENA YA!</a>
    </div>
    </div>
    <div class="col-md-4"></div>
  </div>
</div>
