header {
  z-index: 10000;
}

.header-logo {
  height: 75px;
  width: 160px;
}

.header-button {
  margin-top: 0.6em;
  margin-right: 0.5em;
  padding: 0.25em;
  padding: 0.25em;
  padding-left: 1.5em;
  padding-right: 1.5em;
}

.header-fixed {
  background-color: #ffe000;
  opacity: 1;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  margin: 0 auto;
  transition: opacity 1s ease;
  transition: background-color 1s ease;
}

.header-fixed-no-bg {
  background-color: none;
  opacity: 1;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  margin: 0 auto;
  transition: background-color 1s ease, opacity 1s ease;
}

.header-relative {
  opacity: 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  margin: 0 auto;
  transition: opacity 1s ease;
}

@media only screen and (max-width: 700px) {
  .header-logo {
    height: 65px;
    width: 110px;
  }
}
